body {
			background-color: #cccccc;
		}
		.player_one{
			background-color:white;
			border:5px black;
			height:130px; 
			border:1px solid black; 
		}
a{ 
	text-decoration:none;
}
.li{
	  list-style:none; 
}
	.my{
		text-align:center; 
	}
   .now{
	   text-align:center;
	   margin-top:5px;
   }
  .player_two{
	  text-align:center; 
	  background-color:white;
	  width:340px; 
	  margin:100px;  
	  top:0px;
	  border:1px solid black; 
	  padding-top:10px;  
	  padding-left:0px;
	  margin-top:5px;  
  }